/* head styles */

body {
  background-color: rgb(252, 250, 177);
  margin: auto;
}

ul li {
  display: inline-flex;
}

nav a {
  font-size: 35px;
}

li a {
  color: white;
  list-style-type: none;
}

nav ul a {
  color: white;
  list-style-type: none;
  text-decoration: none;
}

.welcome {   
  background-image: url("./pexels-fu-zhichao-176355-587741.jpg");
  background-size: cover;
  max-height: 1200px;
  width: auto;
  background-repeat: no-repeat;
  background-position:100%;
  text-align: center;
}

h1 {
  font-family: "Monsieur La Doulaise";
  font-size: 48px;
  font-weight: 400;
  color: white;
  text-shadow: 0em 0em 3em #de9bce,
  0em 0em 4em #ee41fa,
  0em 0em 4em #ee41fa;
  opacity: 0.8;
}

h2 {
  font-family: "Italianno";
  font-size: 27px;
  color:antiquewhite;
}

p {
  font-family: "Stalemate";
  font-size: 22px;
  font-weight: 400;
  color:rgb(130, 9, 10);
}
