/* head styles */

body {
  background-image: url ("pexels-fu-zhichao-176355-587739.jpg");
  background-size: cover;
  max-height: 1200px;
  width: auto;
}

h1 {
  font-family: "Ballet";
  font-size: 30px;
  font-weight: 400;
  color: white;
}


