/* head styles */

body {
  background-color: rgb(252, 250, 177);
  margin: auto;
}

ul li {
}

nav a {
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: white;
}

.welcome {   
  background-image: url("./pexels-fu-zhichao-176355-587741.jpg");
  background-size: cover;
  max-height: 1200px;
  width: auto;
  background-repeat: no-repeat;
  background-position:80%;
}

h1 {
  font-family: "Monsieur La Doulaise";
  font-size: 48px;
  font-weight: 400;
  color: white;
}

h2 {
  font-family: "Italianno";
  font-size: 27px;
  color:antiquewhite;
}

p {
  font-family: "Stalemate";
  font-size: 22px;
  font-weight: 400;
  color:rgb(130, 9, 10);
}

p, h2 , h1, nav {
  text-align: center;
}