/* head styles */

body {
  background-color: rgb(252, 250, 177);
  margin: auto;
}

nav {
  display: inline flex;
  justify-content: center;
  flex-direction: row;
}

nav li {
  list-style-type: none;
  text-decoration: none;
  color: white;
}


.welcome {   
  background-image: url ("./pexels-fu-zhichao-176355-587741.jpg");
  background-size: cover;
  max-height: 1200px;
  width: auto;
  background-repeat: no-repeat;
  align-items: center;
}

h1 {
  font-family: "Monsieur La Doulaise";
  font-size: 48px;
  font-weight: 400;
  color: white;
}

h2 {
  font-family: "Italianno";
  font-size: 27px;
  color:antiquewhite;
}

p {
  font-family: "Stalemate";
  font-size: 20px;
  font-weight: 400;
  color:rgb(130, 9, 10);
}
