/* head styles */

body {
  background-color: rgb(252, 250, 177);
  margin: auto;
}

ul li {
  padding: 10px;
  list-style-type: none;
}

nav {
  font-size: 35px;
  display: inline-flex;
  font-family: "Ballet";
}

li a {
  color: white;
}

nav ul a {
  color: white;
  list-style-type: none;
  text-decoration: none;
}

.welcome {   
  background-image: url("./pexels-fu-zhichao-176355-587741.jpg");
  background-size: cover;
  max-height: 2000px;
  width: auto;
  background-repeat: no-repeat;
  background-position:100%;
  text-align: center;
}

h1 {
  font-family: "Monsieur La Doulaise";
  font-size: 48px;
  font-weight: 400;
  color: white;
  text-shadow: 
  1px 1px 3px #de9bce,
  0 0 2em #f158eacb,
  0 0 0.4em #f158eacb;
}

h2 {
  font-family: "Italianno";
  font-size: 27px;
  color:antiquewhite;
}

p {
  font-family: "Stalemate";
  font-size: 22px;
  font-weight: 400;
  color:rgb(130, 9, 10);
}
