/* head styles */

body {
  background-image: url ("./pexels-fu-zhichao-176355-587739.jpg");
  background-size: cover;
  max-height: 1200px;
  width: auto;
  background-repeat: no-repeat;
  
}

h1 {
  font-family: "Monsieur La Doulaise";
  font-size: 48px;
  font-weight: 400;
  color: white;
}

h2 {
  font-family: "Italianno";
  font-size: 27px;
  color:antiquewhite;
}

p {
  font-family: "Stalemate";
  font-size: 16px;
  font-weight: 400;
  color:rgb(130, 9, 10);

}
