/* head styles */

body {
  background-color: rgb(252, 250, 177;
  margin: auto;
}

nav {
  display: inline flex;
  justify-content: center;
  flex-direction: row;
}

.welcome {   
  background-image: url ("pexels-fu-zhichao-176355-587741.jpg");
  background-size: cover;
  max-height: 1200px;
  width: auto;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Monsieur La Doulaise";
  font-size: 48px;
  font-weight: 400;
  color: white;
  text-align: center;
}

h2 {
  font-family: "Italianno";
  font-size: 27px;
  color:antiquewhite;
  text-align: center;
}

p {
  font-family: "Stalemate";
  font-size: 20px;
  font-weight: 400;
  color:rgb(130, 9, 10);
}
